body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 sütunlu düzen */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.gallery-item {
    list-style: none;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-link {
    display: block;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 3px solid #ddd;
}

/* Modal için temel stil */
.modal img {
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
    display: block;
}